body {
	max-width:320px;
	
}

.logo {
	max-width:960px;
	width: 100%;
}

.menubutton {
	width: 90%;
	border: solid 2px;
	text-align: center;
	margin: 0px auto;
	padding: 4px 0px;
	background-color: #F1F1F1;
	display:block;
	border-radius: 25%;
	 -webkit-animation: bgcolor 10s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@keyframes bgcolor {
    0% {
        background-color: #AC0000;
    }

    30% {
        background-color: #BC00B5;
    }

    60% {
        background-color: #007DC3;
    }

    90% {
        background-color: #008302;
    }

    100% {
        background-color: #DFD700;
    }
}

.menubutton1 {
	width: 90%;
	border: solid 2px;
	text-align: center;
	margin: 0px auto;
	padding: 4px 0px;
	background: linear-gradient(110deg,red,blue,green,yellow,purple,cyan,orange);
	border-radius: 25%;
}

.topmenu {
	list-style: none;
	display: none;
	flex-direction: column;
	align-items: center;
	border: solid 1px;
	text-align: center;
	width: 85%;
	margin: 0px auto;
	padding: 0px 2px 0px 0px;
	background-color: #F1F1F1;
	margin-bottom: 5%;

}

.topmenu li {
	border: solid 1px #fff;
	padding: 2px 0px;
	margin: 0px auto;
	width: 100%;
	height: 100%;
	transition: 2s ease;

	
}
.topmenu a {
	color: #000;
	text-decoration: none;	
}

.menubutton:focus + .topmenu {
	display: flex;
}
.menubutton:focus {
	font-weight: bold; 
	color: #FFFFFF;
	pointer-events: none;
}


.topmenu:hover {
	display: flex;
	
}

.topmenu li:nth-child(1) {
	background-color: #AC0000;
}
.topmenu li:nth-child(2) {
	background-color: #BC00B5;
}
.topmenu li:nth-child(3) {
	background-color: #007DC3;
}
.topmenu li:nth-child(4) {
	background-color: #008302;
}
.topmenu li:nth-child(5) {
	background-color: #DFD700;
}

.topmenu li:hover {
	font-weight: bold;
	border-color: #000;
	border-bottom: solid 1px;
	border-top: solid 1px;

}

.topmenu li:hover:nth-child(1) {
	background-color: #FF0004;
}
.topmenu li:hover:nth-child(2) {
	background-color: #FF52EE;
}
.topmenu li:hover:nth-child(3) {
	background-color: #50FFFC;
}
.topmenu li:hover:nth-child(4) {
	background-color: #00FF05;
}
.topmenu li:hover:nth-child(5) {
	background-color: #FFFD00;
}

.topimg {
	width: 100%;
	margin: 30px 0px 0px -4px;
	border: solid 2px;
	border-color: #D2D2D2;
	padding: 2px;
	position: relative;

	
}

.topheadbox {
	position: absolute;
	top: 60%;
  	left: 1%;
	background-color:rgba(0,0,0,0.5);
	width: 90%;
	padding:10px ;
	color: #fff;
	font-size:80%;
	margin: 0px;
	overflow: hidden;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
  	-moz-animation: glow 1s ease-in-out infinite alternate;
  	animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #f00, 0 0 20px #0f0, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #f00, 0 0 60px #0f0, 0 0 70px #00f;
  }
  
  to {
    text-shadow: 0 0 20px #00f, 0 0 30px #f00, 0 0 40px #0f0, 0 0 50px #f00, 0 0 60px #0f0, 0 0 70px #f00, 0 0 80px #0f0;
  }
}
	
.buttons {
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
	border:solid 2px #8D8D8D;
	background-color: #D9D9D9;
	box-sizing: border-box;
	padding: 5px;
	
}

.button1 {
	margin-bottom: 3%;
	background: linear-gradient(to right,red,blue,green,yellow,purple,cyan,orange);
}
.button2 {
	background: linear-gradient(140deg,green,orange 55%);
}
.buttons button {
	padding:1%;
	font-size: 24px;
	border-radius: 15%;

}
footer {
	border-top: solid #848484;
	margin-top: 7%;
	background-color: rgba(220,220,220,0.50);
	padding: 0% 0% 0.1% 1% ;
	margin-bottom: 0px;
	font-size: 70%;
}
footer h2 {
	margin-bottom: 0%;
}

#contact {
	margin-top: 0.7%;
}
.copyright{
	background-color: #757575;
	padding: 1%;
	margin: 0% 0% -0.1% -1%;
	color: #FFFFFF
}

.topmain {
	position: relative;
	margin-bottom: 5%;
}
.tophead {
	margin: 0px;
}
.tophead2 {
	margin: 0px;
}

button:hover {
	opacity: 0.9;
	box-shadow: 2px 3px #000;
}

button:active {
	opacity: 0.7;
	font-weight: bold;
	box-shadow: 2px 2px #000;

}

.boxes{
	display: flex;
	flex-direction: column;
	
}

.boxes img {
	width:100%;
	border: solid 2px;
	box-sizing: border-box;
	margin: auto;
	
}
.boxes div {
	border: solid 5px #eee;
	box-sizing: border-box;
	padding: 5px;
	margin: 7% 0% 0% 0%;
	display:flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	
}
.boxes div:nth-child(2):hover::before {
	display: flex;
	position: absolute;
	justify-content: center;
	content: "SOLD";
	color: #000;
	background-color: rgba(185,185,185,0.61);
	width: 94%;
	margin: 35% auto;
	text-align: center;
	transform: skewy(30deg);
	font-size: 200%;
}

.boxes div:nth-child(6):hover::before {
	display: flex;
	position: absolute;
	justify-content: center;
	content: "SOLD";
	color: #000;
	background-color: rgba(185,185,185,0.61);
	width: 94%;
	margin: 60% auto;
	text-align: center;
	transform: skewy(30deg);
	font-size: 200%;
	
}
.boxes h3 {
	
	margin-bottom: 1px;
}
.boxes p {
	font-size: 75%;
	color: #515151;
	margin-top: 1px;

}
.boxes div:first-child {
	margin-top: 5%;
}

.midmain {
	margin: 5% auto;
	padding: 1% 0 1% 2% ;
	background-color: #DDDDDD;
	border: dashed 2px;
}

@media (min-width: 321px) and (max-width: 640px){
	
	body {
		max-width:640px;
	}
	
	.menubutton {
		display: none;
	}

	.topmenu {
		list-style: none;
		display: flex;
		flex-direction: row;
		border:0px;
		margin: 0px auto;
		padding: 0px 0px 0px 0px;
		justify-content: space-between;
		width:100%;
		background-color: #fff;
	}
	.topmenu li{
		border: solid 1px;
		border-radius: 35%;
		width:18%;
		box-shadow: 5px 6px #000;

		
	}
	
		.topmenu li:hover {
		box-shadow: 5px 5px #000;
	}

	.topheadbox {
		top:50%;
		width:75%;
		left:0%;
		font-size: 110%
	}
	
	
	.buttons {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		margin: 0px;
	}
	.button1 {
		margin-bottom: 0%;
		width: 48%;
		
	}
	.button2 {
		width: 48%;
	}
	
	.boxes{
		flex-direction: row;
		justify-content:space-between;
		flex-flow: row wrap;
	}
	.boxes div {
		margin: 2% 0% 0% 0%;
		width: 49%;
		
		
	}

	.boxes div:first-child {
		margin-top: 0%;
	}
	.boxes div:nth-child(2) {
		margin-top: 0%;
	}
	.boxes div:nth-child(2):hover::before {
		display: flex;
		position: absolute;
		justify-content: center;
		content: "SOLD";
		color: #000;
		background-color: rgba(185,185,185,0.61);
		width: 47%;
		margin: 20% auto;
		text-align: center;
		transform: skewy(30deg);
		font-size: 200%;
}

	.boxes div:nth-child(6):hover::before {
		display: flex;
		position: absolute;
		justify-content: center;
		content: "SOLD";
		color: #000;
		background-color: rgba(185,185,185,0.61);
		width: 47%;
		margin: 20% auto;
		text-align: center;
		transform: skewy(30deg);
		font-size: 200%;
	
}
	.midmain {
		background-color: #00AFEF;
		border: dotted 2px;
	
		
}
	
}

@media (min-width: 641px){

	body {
		max-width:960px;
}
	.menubutton {
		display: none;
	}
	
	.topmenu {
		list-style: none;
		display: flex;
		flex-direction: row;
		border:0px;
		margin: 0px auto;
		padding: 0px 0px 0px 0px;
		justify-content: space-between;
		width:100%;
		background-color: #fff;
	}
	.topmenu li{
		border: solid 1px;
		border-radius: 35%;
		width:18%;
		box-shadow: 5px 7px #000;

		
	}
	
		.topmenu li:hover {
		border: solid 1px;
		border-radius: 35%;
		width:18%;
		box-shadow: 4px 5px #000;
	}
	
	.topheadbox {
		top:50%;
		width:75%;
		left:0%;
		font-size: 180%;
		padding: 10px 30px;
	}
	.buttons {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}
	.button1 {
		margin-bottom: 0%;
		width: 48%;
		
	}
	.button2 {
		width: 48%;
	}
	
	.boxes{
		flex-direction: row;
		justify-content: space-between;
		flex-flow: row wrap;
	}
	.boxes div {
		margin: 2% 0% 0% 0%;
		width: 32%;
	}

	.boxes div:first-child {
		margin-top: 0%;
	}
	.boxes div:nth-child(2) {
		margin-top: 0%;
	}
	.boxes div:nth-child(3) {
		margin-top: 0%;
	}
	.boxes div:nth-child(2):hover::before {
		display: flex;
		position: absolute;
		justify-content: center;
		content: "SOLD";
		color: #000;
		background-color: rgba(185,185,185,0.61);
		width: 31%;
		margin: 10% auto;
		text-align: center;
		transform: skewy(30deg);
		font-size: 200%;
}

	.boxes div:nth-child(6):hover::before {
		display: flex;
		position: absolute;
		justify-content: center;
		content: "SOLD";
		color: #000;
		background-color: rgba(185,185,185,0.61);
		width: 31%;
		margin: 20% auto;
		text-align: center;
		transform: skewy(30deg);
		font-size: 200%;
	
}
	.midmain {
		background-color: rgba(21,131,0,0.37);
		font-size: 18px;
		border: solid 2px;
	}	
}
@media (min-width: 961px){
	body {
		margin: 0px auto;
	}
	.boxes div:nth-child(2):hover::before {
	display: flex;
	position: absolute;
	justify-content: center;
	content: "SOLD";
	color: #000;
	background-color: rgba(185,185,185,0.61);
	width: 300px;
	margin: 10% auto;
	text-align: center;
	transform: skewy(30deg);
	font-size: 200%;
}

.boxes div:nth-child(6):hover::before {
	display: flex;
	position: absolute;
	justify-content: center;
	content: "SOLD";
	color: #000;
	background-color: rgba(185,185,185,0.61);
	width: 300px;
	margin: 15% auto;
	text-align: center;
	transform: skewy(30deg);
	font-size: 200%;
	
}
}
